.portrait-img {
    min-width: 100px;
    max-height: 200px;
}

.event-list-img {
    max-height: 240px;
    min-width: 320px;
}

.event-list-img-clicked {
    max-height: 600px;
    min-width: 800px;
}