<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Listado de Eventos</title>

  <!-- Bootstrap styling and responsive design import (both CSS and JS libraries required)-->
  <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
  <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
</head>
<body class="pt-3">

<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="portrait.html">INICIO</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
              aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="eventForm.html">Informar Evento</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="eventList.html">Listado de Eventos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="statistics.html">Estadísticas</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

</body>
</html>