<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Formulario de Evento</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap styling and responsive design import (both CSS and JS libraries required) -->
  <link rel="stylesheet" href="../static/vendor/bootstrap/css/bootstrap.min.css">
  <!-- JS bundle of jQuery and PopperJS for bootstrap -->
  <script defer src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- JS files for form control -->
  <script defer type="module" src="../static/js/event_form/formControl.js"></script>
</head>

<body class="pt-3">
<!--
header - nav-bar
  navigation bar fixed to the top of the page and collapsable.
-->
<header>
  <!-- navbar definition -->
  <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
      <!-- brand icon or app name -->
      <a class="navbar-brand" href="portrait.html">INICIO</a>
      <!-- button to toggle nav items when navbar collapsed -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
              aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- navbar items that are collapsable -->
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="eventForm.html">Informar Evento</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="eventList.html">Listado de Eventos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="statistics.html">Estadísticas</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<!--
main - event form
  inform an event and all its details
-->
<main class="container my-5 mx-auto">

  <form action="" method="post" id="formulario" class="needs-validation" enctype="multipart/form-data">
    <div class="row">
      <div class="col"></div>
      <div class="col-sm-10 col-md-7 col-lg-6 bg-light bg-gradient">

        <div class="form-floating my-3">
          <select class="form-select" id="region" name="region"></select>
          <label for="region" class="form-label">Región</label>
          <small class="invalid-feedback"></small>
        </div>

        <div class="d-none form-floating my-3">
          <select class="form-select" id="comuna" name="comuna"></select>
          <label for="comuna" class="form-label">Comuna</label>
          <small class="invalid-feedback"></small>
        </div>

        <div class="form-floating my-3">
          <input type="text" class="form-control" id="sector" placeholder="Beauchef 851"
                 name="sector" aria-describedby="sectorHelp" size="100">
          <label for="sector" class="form-label">Sector</label>
          <small class="invalid-feedback"></small>
          <div id="sectorHelp" class="form-text">
            Máximo de 100 caracteres.
          </div>
        </div>

        <hr>

        <div class="form-floating my-3">
          <input type="text" class="form-control" id="nombre" placeholder="John Doe"
                 name="nombre" aria-describedby="nameHelp" size="100">
          <label for="nombre" class="form-label">Nombre</label>
          <small class="invalid-feedback"></small>
          <div id="nameHelp" class="form-text">
            Máximo 200 caracteres.
          </div>
        </div>

        <div class="form-floating my-3">
          <input type="text" class="form-control" id="email" placeholder="email@email.com"
                 name="email" aria-describedby="emailHelp" size="100">
          <label for="email" class="form-label">Email</label>
          <small class="invalid-feedback"></small>
          <div id="emailHelp" class="form-text">
            Por ejemplo: usuario@email.com
          </div>
        </div>

        <div class="form-floating my-3">
          <input type="text" class="form-control" id="celular" placeholder="987654321"
                 name="celular" aria-describedby="cellphoneHelp" size="15">
          <label for="celular" class="form-label">Celular</label>
          <small class="invalid-feedback"></small>
          <div id="cellphoneHelp" class="form-text">
            Por ejemplo: +56 9 87654321
          </div>
        </div>

        <hr>

        <div class="form-floating my-3">
          <select class="form-select" id="red-social-select"></select>
          <label for="red-social-select" class="form-label">Redes Sociales</label>
        </div>

        <div class="my-3" id="redes-sociales"></div>

        <hr>

        <div class="form-floating my-3">
          <input type="text" class="form-control" id="dia-hora-inicio" placeholder="AAAA-MM-DD HH:MM"
                 name="dia-hora-inicio" aria-describedby="startdateHelp" size="20">
          <label for="dia-hora-inicio" class="form-label">Fecha y hora de inicio</label>
          <small class="invalid-feedback"></small>
          <div id="startdateHelp" class="form-text">
            Formato válido AAAA-MM-DD HH:MM
          </div>
        </div>

        <div class="form-floating my-3">
          <input type="text" class="form-control" id="dia-hora-termino" placeholder="AAAA-MM-DD HH:MM"
                 name="dia-hora-termino" aria-describedby="enddateHelp" size="20">
          <label for="dia-hora-termino" class="form-label">Fecha y hora de término</label>
          <small class="invalid-feedback"></small>
          <div id="enddateHelp" class="form-text">
            Formato válido AAAA-MM-DD HH:MM
          </div>
        </div>

        <div class="form-floating mb-3">
          <textarea class="form-control h-100" placeholder="Descripción del evento a realizar" id="descripcion-evento"
                    maxlength="1000" name="descripcion-evento" aria-describedby="descriptionHelp" rows="10"
                    cols="50"></textarea>
          <label for="descripcion-evento">Descripción del Evento</label>
          <small class="invalid-feedback"></small>
          <div id="descriptionHelp" class="form-text">
            Máximo 1000 caracteres.
          </div>
        </div>

        <div class="form-floating my-3">
          <select class="form-select" id="tipo-comida" name="tipo-comida"></select>
          <small class="invalid-feedback"></small>
          <label for="tipo-comida" class="form-label">Tipo de comida</label>
        </div>

        <div class="my-3">
          <div id="pictures-group">
            <div class="input-group my-1">
              <input class="form-control" type="file" name="foto-comida" aria-describedby="pictureHelp">
              <span class="input-group-text">
                <button type="button" class="btn-close btn-close-img" aria-label="Close"></button>
              </span>
              <small class="invalid-feedback"></small>
            </div>
          </div>
          <div id="pictureHelp" class="form-text">
            Soporte de .jpg .jpeg .png
          </div>
        </div>

        <div class="d-flex justify-content-between align-items-center my-3">
          <button type="button" class="btn btn-success" id="add-img-btn">Agregar otra foto</button>
          <span class="d-none text-danger fw-bold" id="add-img-btn-warning">Máximo 5 imágenes por evento</span>
        </div>

        <hr>

        <div class="d-flex justify-content-between my-3">
          <button type="submit" class="btn btn-primary">Enviar información de este evento</button>
          <button type="reset" class="btn btn-warning">Borrar Todo</button>
        </div>

      </div>
      <div class="col"></div>
    </div>
  </form>

  <div class="modal" tabindex="-1" id="confirm-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>


</main>

</body>
</html>