<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Estadísticas</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap styling and responsive design import (both CSS and JS libraries required)-->
  <link rel="stylesheet" href="../static/vendor/bootstrap/css/bootstrap.min.css">
  <script defer src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <script src="../static/vendor/highcharts/highcharts.js"></script>

  <!-- JS script for creating charts using D3.js -->
  <script type="module" src="../static/js/statistics/graphs.js"></script>

</head>
<body class="pt-3">

<header>
  <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="portrait.html">INICIO</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
              aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="eventForm.html">Informar Evento</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="eventList.html">Listado de Eventos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="statistics.html">Estadísticas</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<main class="container my-5 text-center lead">

  <!-- Create a div where the graph will take place -->
  <div class="row my-5 justify-content-center">
    <div class="col-sm-12 col-md-6">
      <h3 class="font-monospace">Cantidad de eventos por día</h3>
      <p class="border border-4 rounded py-2 px-4">
        El gráfico de línea muestra la cantidad de eventos por día, considerando la fecha de inicio del evento,
        según lo reportado a la plataforma.
      </p>
      <div id="line-chart" class="mx-auto"></div>
    </div>

    <hr class="my-5">

    <div class="col-sm-12 col-md-6">
      <h3 class="font-monospace"> Cantidad de eventos por tipo de comida</h3>
      <p class="border border-4 rounded py-2 px-4">
        El gráfico circular muestra una agrupación por tipo de comida de los eventos que se han registrado en la
        plataforma.
      </p>
      <div id="pie-chart" class="mx-auto"></div>
    </div>

    <hr class="my-5">

    <div class="col-sm-12 col-md-6">
      <h3 class="font-monospace"> Inicio de eventos agrupados por mes</h3>
      <p class="border border-4 rounded py-2 px-4">
        El gráfico de barras muestra la distribución horaria de los eventos agrupados por mes, se divide el día en
        tres tipos de eventos según su inicio: eventos que inician en la mañana (antes de las 11:00 AM),
        al mediodía (de 11:00 AM a 14:59 PM) y en la tarde (15:00 PM en adelante).
      </p>
      <div id="bar-chart" class="mx-auto"></div>
    </div>
  </div>

</main>

</body>
</html>